body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #393939;
    background-image: url("images/website-bg.png");
    background-repeat: repeat-x;
    text-align: center;
}


header {
    grid-column: 2 / 3;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
header h1 {
    text-shadow: 2px 2px 4px #000000;
}
#navlink {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}
.navdiv {
    text-transform: uppercase;
    background-color: lightgrey;
    border: 1px solid #444444;
}

.navdiv a {
    text-decoration: none;
}

.spacer {
    grid-column: 2 / 3;
    background-color: grey;
    padding: 4px;
}

#nav-placeholder {
    grid-column: 2 / 3;
}

content {
    grid-column: 2 / 3;
    color: white;
    background-color: rgba(44,44,44,0.5);
    text-align: center;
}
content a:link, a:visited {
    background-color: #4c82ad;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
