body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #393939;
    background-image: url("images/website-bg.png");
    background-repeat: repeat-x;
    text-align: center;
}


header {
    grid-column: 2 / 3;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
header h1 {
    text-shadow: 2px 2px 4px #000000;
    font-family: sans-serif;
}

h1 {
    font-family: sans-serif;
}
h2 {
    line-height: 50%;
    font-family: sans-serif;
}

#navlink {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}
.navdiv {
    text-transform: uppercase;
    background-color: lightgrey;
    border: 1px solid #444444;
}

#navlink a:link, #navlink a:visited, #navlink a:hover, #navlink a:active {
    text-decoration: none;
    color: black;
}

.spacer {
    grid-column: 2 / 3;
    background-color: grey;
    padding: 4px;
}

#nav-placeholder {
    grid-column: 2 / 3;
}

content {
    grid-column: 2 / 3;
    color: white;
    background-color: rgba(44,44,44,0.5);
    text-align: center;
    padding: 2% 2% 2% 2%;
}
content a:link, content a:visited, content a:hover, content a:active {
    background-color: #4c82ad;
    color: white;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

content h1 {
    text-shadow: 0px 0px 5px #000000;
}

.bannered {
    background-image: url("images/website-lefttop.png"), url("images/website-righttop.png");
    background-position: 25% 80%, 75% 80%;
    background-repeat: no-repeat, no-repeat;
    background-size: 15% auto, 15% auto; 
    padding-left: 20%;
    padding-right: 20%
}

.botbanner {
    background-image: url("images/website-bottomfull.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 58% 70%;
    padding: 4px;
}

.pillars {
    list-style-position: inside;
}

table {
    margin: auto;
    text-align: left;
}

p {
    padding: 2% 10% 2% 10%;
}

