body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background: lightblue;
}


header {
    grid-column: 2 / 3;
    background-color: white;
    text-align: center;
}
#navlink {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.navdiv {
    text-transform: uppercase;
    border: 1px solid grey;
}

.navdiv a {
    text-decoration: none;
}

.spacer {
    grid-column: 2 / 3;
    background-color: grey;
    padding: 4px;
}

#nav-placeholder {
    grid-column: 2 / 3;
}


